body {
  background-color: #000 !important; 
}

.navbar {
  background-color: black; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  color: beige;
  margin-bottom: 200px;
}
.navbar a {
  color: white;
  
}

.customModalTitle {
  font-family:Georgia, 'Times New Roman', Times, serif; /* Cambia la tipografía a Arial */
  font-size: 24px; /* Ajusta el tamaño del texto a 24px */
  /* Puedes agregar otros estilos según sea necesario */
}

.app {
  min-height: 100%;
  position: relative;
}

.content {
  padding-bottom: 60px; 
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(17, 17, 17);
  color: white;
  text-align: center;
  padding: 15px 0;
}
@media (max-width: 768px) {
  .footer {
    font-size: 14px;
  }
}

.ruleta-buttons {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 20px;
  height: 100vh; 
}

.neon-button {
  background-color: #000;
  color: #fff;
  border:#fff;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff;
  animation: neon 1.5s infinite ease-in-out alternate;
  margin: 20px;
  width: 130px;
  height: 120px;
  display: inline-block;
  padding: 10px 20px;
  
}

.color0{
  border-top-left-radius: 100px;

}
.color {
  background-color: #d61515;
  border-top-right-radius: 100px;
  

}

.color2 {
  background-color: #0e5ae9;
  border-bottom-left-radius: 100px;

}

.color3 {
  background-color: #bbb474;
  border-bottom-right-radius: 100px;

}

@keyframes neon {
  to {
    box-shadow: 0 0 15px #f8f6f6, 0 0 15px #0e0d0d, 0 0 15px #ffffff, 0 0 15px #ffffff;
  }
}


.parent {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  text-align: center; 
}
  
  .div1 { grid-area: 2 / 2 / 3 / 3; }

.medio {
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
.juego {
  margin-bottom: 50px;
  color: #eff0f5;
  background-color: #2f0ee9;
  border:#070707;
  padding: 10px 20px;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  font-size: 22px;
  font-family:fantasy; 
  box-shadow: 0 0 15px  #4c30ec, 0 0 15px  #563ceb, 0 0 15px  #2f0ee9, 0 0 15px  #2f0ee9;
}
  
  
  
  
  